<p id="notice"><%= notice %></p>

<h1>Listing Books</h1>                 

<table class="table table-light table-hover">
  <thead>
    <tr>
      <th>Available At</th> 
      <th>Title</th>
      <th>Author</th>
      <th>Genre</th>
      <th>Subgenre</th>
      <th>Publisher</th>
      <th>Copies</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.order([:title]).each do |book| %>
      <tr>
        <td><%= book.libName %></td>
        <td><%= book.title %></td>
        <td><%= book.author %></td>
        <td><%= book.genre %></td>
        <td><%= book.subgenre %></td>
        
        <td><%= book.publisher %></td>
        <td><%= book.copies %></td>
        <td><%= link_to 'Details', book,class:"btn btn-secondary" %></td>
        <%if current_user && current_user.admin%>
        <td><%= link_to 'Edit Book', edit_book_path(book) %></td>
        <td><%= link_to 'Remove from library', book, method: :delete, data: { confirm: 'Are you sure you want to delete this book?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


